*~
*.swp

# Haskell Tool Stack-related
.stack-work/

# Cabal (the tool)-related
dist-newstyle/

# Haskell Language Server-related
hie.yaml

# Stan-related
.hie
stan.html

# VS Code Counter (Visual Studio Code Extension)-related
.VSCodeCounter
