name: Tests

on:
  pull_request:
  push:
    branches:
    - master
  workflow_dispatch:

# As of 2025-12-27, ubuntu-latest and windows-latest come with Stack 3.7.1.
# However, macos-13 and macos-latest do not come with Haskell tools.

jobs:
  build:
    name: CI
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
        - ubuntu-latest
        snapshot:
        - stack-ghc-9.10.3.yaml
        - stack-ghc-9.12.3.yaml
        - stack-ghc-9.14.1.yaml
        include:
        # macos-15-intel will be the last that provides macOS/x86_64
        - os: macos-15-intel
          snapshot: stack-ghc-9.10.3.yaml
        # macos-latest provides macOS/AArch64 (M1)
        - os: macos-latest
          snapshot: stack-ghc-9.10.3.yaml
        - os: windows-latest
          snapshot: stack-ghc-9.10.3.yaml
    steps:
    - name: Clone project
      uses: actions/checkout@v4
    - name: Cache dependencies on Unix-like OS
      if: startsWith(runner.os, 'Linux') || startsWith(runner.os, 'macOS')
      uses: actions/cache@v4
      with:
        path: ~/.stack
        key: ${{ runner.os }}-${{ runner.arch }}-${{ matrix.snapshot }}
    - name: Cache dependencies on Windows
      if: startsWith(runner.os, 'Windows')
      uses: actions/cache@v4
      with:
        path: |
           ~\AppData\Roaming\stack
           ~\AppData\Local\Programs\stack
        key: ${{ runner.os }}-${{ runner.arch }}-${{ matrix.snapshot }}
    - name: Build and run tests
      shell: bash
      run: |
        set -ex

        if [[ "${{ matrix.os }}" == "macos-15-intel" || "${{ matrix.os }}" == "macos-latest" ]]
        then
          # macos-15-intel and macos-latest do not include Haskell tools as at
          # 2025-12-26.
          curl -sSL https://get.haskellstack.org/ | sh
        fi

        stack --snapshot ${{ matrix.snapshot }} test --bench --no-run-benchmarks --haddock --no-haddock-deps
  test-pretty-exceptions:
    name: Test build of test-pretty-exceptions
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
        - ubuntu-latest
        - windows-latest
        snapshot:
        - stack-ghc-9.10.3.yaml
    steps:
    - name: Clone project
      uses: actions/checkout@v4
    - name: Cache dependencies on Unix-like OS
      if: startsWith(runner.os, 'Linux') || startsWith(runner.os, 'macOS')
      uses: actions/cache@v4
      with:
        path: ~/.stack
        key: ${{ runner.os }}-${{ runner.arch }}-${{ matrix.snapshot }}-pretty
    - name: Cache dependencies on Windows
      if: startsWith(runner.os, 'Windows')
      uses: actions/cache@v4
      with:
        path: |
           ~\AppData\Roaming\stack
           ~\AppData\Local\Programs\stack
        key: ${{ runner.os }}-${{ runner.arch }}-${{ matrix.snapshot }}-pretty
    - name: Build test-pretty-exceptions
      shell: bash
      run: |
        set -ex
        stack --snapshot ${{ matrix.snapshot }} build --flag pantry:test-pretty-exceptions
